<head th:fragment="meta" xmlns:th="http://www.w3.org/1999/xhtml">
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="includes/img/to_logo.png" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <!--<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>-->
  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/css/uikit.min.css" />-->
  <link rel="stylesheet" href="css/default.css" />

  <!-- UIkit JS -->
  <!--<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit.min.js"></script>-->
  <!--<script src="https://cdn.jsdelivr.net/npm/uikit@3.16.22/dist/js/uikit-icons.min.js"></script>-->
</head>