<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Wawa</title>
    <th:block th:include="fragments::meta"></th:block>
</head>
<body>
<div class="uk-container">
    <h1 class="uk-heading-small">Wawa</h1>
    <div class="uk-margin uk-card uk-card-default uk-card-body">
        <div class="uk-margin">
            <form id="formsearch" class="uk-search uk-search-default" action="searchentry" method="get">
              <span class="uk-search-icon-flip" uk-search-icon></span>
              <input id="searchbar" name="word" class="uk-search-input" type="search" placeholder="Search" aria-label="Search">
            </form>
          </div>
        <div class="uk-margin">
            <table id="entries">
            </table>
        </div>

    </div>
</div>
<script>

    $(function(){
        ajaxRefreshEntries();

        $('#searchbar').keypress(function (e) {
          if (e.which == 13) {
            $('#formsearch').submit();
            return false;    //<---- Add this line
          }
        });
    });

    function ajaxRefreshEntries(){
        $.ajax({
            url: 'ajaxhome',
            method: 'get',
            data: {
                page: 0,
                max: 50
            },
            success: function(response){
                $("#entries").html(response);
            }
        });
    }
</script>
</body>
</html>